<!-- fix this later to be the picture from the database -->
<div class="courseCard">
  <% if (course.image) { %>
    <img class="courseImg" src="/uploads/<%= course.image %>" alt="Image for <%= course.title %>">
  <% } %>
  <div class="courseCardInfo">
    <h3><%= course.title %></h3>
    <p>
      <%= course.duration %> timer • <%= course.price %> <%= course.currency
      %><%= course.price_excl_vat ? ' (excl. VAT)' : '' %>
    </p>
    <p><%= course.description %></p>
    <button
      onclick="document.getElementById('orderForm<%= course._id %>').style.display='block'; this.style.display='none'"
    >
      Bestil kursus
    </button>
    <div id="orderForm<%= course._id %>" style="display: none">
      <form class="orderForm" action="/order-course" method="post">
        <input type="hidden" name="courseId" value="<%= course._id %>" />
        <input type="text" name="name" placeholder="Your Name" required />
        <input type="email" name="email" placeholder="Your Email" required />
        <% if (course.target === 'Business') { %>
        <input
          type="text"
          name="company"
          placeholder="Virksomheds Navn*"
          required
        />
        <% } %>
        <textarea
          name="additionalInfo"
          placeholder="Ydligere Information"
        ></textarea>
        <button id="submitButton" type="submit">Bestil kursus</button>
      </form>
    </div>
  </div>
</div>
<script>
    const email = document.getElementById('email');
    const company = document.getElementById('company');
    const additionalInfo = document.getElementById('additionalInfo');
    const name = document.getElementById('name');
    const submitButton = document.getElementById('submitButton');
  
    submitButton.addEventListener('click', validateForm);

    function validateForm() {

    if (name.value.trim() === '' || email.value.trim() === '' || (company && company.value.trim() === '') || additionalInfo.value.trim() === '') {
      return false;
    }
    confirmAction();
    return true;
    }

    function confirmAction() {
    Swal.fire({
      icon: "success",
      title: "Tak for din henvendelse. Du får snart bekræftelsesmail.",
      showConfirmButton: false,
      color: "#1b232e",
      background: "#eeeeee",
      timer: 7000
    });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>