<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="<%= title === 'tilføj kursus' ? '/add-course' : '/edit-course/' + course._id %>" method="post" enctype="multipart/form-data">
        <label for="title">Kursus Titel</label>
        <% if (title === 'tilføj kursus') { %>
            <input type="text" name="title" id="title" placeholder="">
        <% } else if (title === 'rediger kursus' && course) { %>
            <input type="text" name="title" id="title" value="<%= course.title %>">
            <!-- Include hidden input field to store course id -->
            <input type="hidden" id="courseId" name="courseId" value="<%= course._id %>">
            <input type="hidden" id="courseOrigin" name="courseOrigin" value="<%= course.target %>">
        <% } %>
        <label>Kursus Type</label>
        <label for="erhvervRadio">Erhverv</label>
        <input type="radio" name="courseType" id="erhvervRadio" value="Business"<% if (title === 'rediger kursus' && course && course.target === 'Business') { %> checked <% } %>>
        <label for="privatRadio">Privat</label>
        <input type="radio" name="courseType" id="privatRadio" value="Private"<% if (title === 'rediger kursus' && course && course.target === 'Private') { %> checked <% } %>>
        <label for="duration">Varighed (i timer)</label>
        <input type="number" name="duration" id="duration" <% if (title === 'rediger kursus' && course) { %> value="<%= course.duration %>" <% } %>>
        <label for="price">Pris (i DKK)</label>
        <input type="number" name="price" id="price" <% if (title === 'rediger kursus' && course) { %> value="<%= course.price %>" <% } %>>
        <label for="description">Beskrivelse</label>
        <input type="text" name="description" id="description" <% if (title === 'rediger kursus' && course) { %> value="<%= course.description %>" <% } %>>
        <label for="image">Course Image</label>
        <input type="file" name="image" id="image" required>
        <button type="submit">Gem</button>

        
        
    </form>
    <script>
        function confirmAction() {
        let text;
        if ("<%= title %>" === 'tilføj kursus') {
            text = "Kursus oprettet.";
        } else {
            text = "Kursus opdateret.";
        }
        Swal.fire({
            icon: "success",
            title: text,
            showConfirmButton: false,
            color: "#1b232e",
            background: "#eeeeee",
            timer: 2000
            })
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
</body>
</html>
