<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title"><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/logo_primary.svg" type="image/svg+xml">
</head>
<body>
    <header>
        <a id="headerLogo" class="icon" href="/"><img src="/img/logo_darkblue.svg" alt=""></a> 
        <nav>
            <ul class="logout">
                <li>
                <a class="logoutLink" href="/logout"><img class="icon" src="/img/arrow-right-from-bracket-solid.svg" alt="">Log ud</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="info">
    <h1 class="title"><%= title %></h1>
   <div class="formContainer">
    <form class="courseForm" action="<%= title === 'tilføj kursus' ? '/add-course' : '/edit-course/' + course._id %>" method="post" enctype="multipart/form-data">
        <label for="title">Kursus Titel</label>
        <% if (title === 'tilføj kursus') { %>
            <input type="text" name="title" id="title" placeholder="">
        <% } else if (title === 'rediger kursus' && course) { %>
            <input type="text" name="title" id="title" value="<%= course.title %>">
            <!-- Include hidden input field to store course id -->
            <input type="hidden" id="courseId" name="courseId" value="<%= course._id %>">
            <input type="hidden" id="courseOrigin" name="courseOrigin" value="<%= course.target %>">
        <% } %>
        <label>Kursus Type</label>
        <div class="formRadio">
        <label for="erhvervRadio">Erhverv</label>
        <input type="radio" name="courseType" id="erhvervRadio" value="Business"<% if (title === 'rediger kursus' && course && course.target === 'Business') { %> checked <% } %>>
        <label for="privatRadio">Privat</label>
        <input type="radio" name="courseType" id="privatRadio" value="Private"<% if (title === 'rediger kursus' && course && course.target === 'Private') { %> checked <% } %>>
        </div>
        <label for="duration">Varighed (i timer)</label>
        <input type="number" name="duration" id="duration" <% if (title === 'rediger kursus' && course) { %> value="<%= course.duration %>" <% } %>>
        <label for="price">Pris (i DKK)</label>
        <input type="number" name="price" id="price" <% if (title === 'rediger kursus' && course) { %> value="<%= course.price %>" <% } %>>
        <label for="description">Beskrivelse</label>
        <textarea name="description" id="description"<% if (title === 'rediger kursus' && course) { %> value="<%= course.description %>" <% } %>></textarea>
        <label for="image">Course Image</label>
        <input type="file" name="imageFile" accept="image/*">
        <button type="submit">Gem</button>    
    </form>
</div>
</section>
    <script>
        document.title = document.title.toLowerCase().split(' ').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ');


        function confirmAction() {
        let text;
        if ("<%= title %>" === 'tilføj kursus') {
            text = "Kursus oprettet.";
        } else {
            text = "Kursus opdateret.";
        }
        Swal.fire({
            icon: "success",
            title: text,
            showConfirmButton: false,
            color: "#1b232e",
            background: "#eeeeee",
            timer: 2000
            })
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
</body>
</html>
