<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="<%= title === 'tilføj instruktør' ? '/add-instructor' : '/edit-instructor/' + instructor._id %>" method="post" onsubmit="confirmAction()">
        <label for="title">Instruktør Navn</label>
        <% if (title === 'tilføj instruktør') { %>
            <input type="text" name="name" id="name" placeholder="">
        <% } else if (title === 'rediger instruktør' && instructor) { %>
            <input type="text" name="name" id="name" value="<%= instructor.name %>">
            <!-- Include hidden input field to store instructor id -->
            <input type="hidden" id="courseId" name="courseId" value="<%= instructor._id %>">
        <% } %>
        <label for="description">Beskrivelse</label>
        <input type="text" name="description" id="description" <% if (title === 'rediger instruktør' && instructor) { %> value="<%= instructor.description %>" <% } %>>
        <button type="submit">Gem</button>
    </form>
    <script>
        function confirmAction() {
        let text;
        if ("<%= title %>" === 'tilføj instruktør') {
            text = "Instruktør oprettet.";
        } else {
            text = "Instruktør opdateret.";
        }
        Swal.fire({
            icon: "success",
            title: text,
            showConfirmButton: false,
            color: "#1b232e",
            background: "#eeeeee",
            timer: 2000
            })
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
</body>
</html>
